<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.MyListener"/>
        <!--        <listener class-name="listeners.GlobalRetry"/>-->
    </listeners>


    <test verbose="2" preserve-order="true" name="RunTests">

        <classes>

            <class name="com.qa.tests.LoginTest"/>
            <class name="com.qa.tests.DashboardTest"/>


        </classes>
    </test>
</suite>